// Variables

$moon-svg: "/svg/moon.svg";
$atom-svg: "/svg/atom.svg";
$mars-svg: "/svg/mars.svg";
$earth-svg: "/svg/earth.svg";
$saturn-svg: "/svg/saturn.svg";

$primary-color: #00005f;
$secondary-color: #ffffff;
$accent-color: #e75a7c;
$link-color: #fff;
$link-border-color: #00005f;
$link-border-width: 2px;
$link-border-radius: 5px;
$link-padding: 0.2em 1.5em;
$footer-background: #3cbaed;
$footer-margin: 5em 0 2em 0;
$footer-padding: 2em;
$footer-font-size: 1.5em;
$footer-border-radius: 10px;

$sidebar-font-size: 1em;
$sidebar-margin-left: 2em;

$heading-font-weight: 100;
$heading-font-size: 2em;
$intro-heading-font-size: 1em;
$intro-subheading-font-size: 3em;
$preamble-padding: 2em;
$preamble-background-color: $accent-color;
$preamble-border-radius: 5px;

$p-padding: 0.5em 2em;
$p-font-size: 18px;
$main-padding: 0 2em;
$main-margin: 0 -2em;

$animation-duration: 20s;
$animation-timing-function: linear;
$animation-iteration-count: infinite;